.experienceBar {
    display: flex;
    align-items: center;
}

.experienceBar span {
    font-size: 1rem;
}

.experienceBar>div {
    margin: 0 1.5rem;
    height: 4px;
    flex: 1;
    background-color: var(--gray-line);
    border-radius: 4px;
    position: relative;
}

.experienceBar>div>div {
    height: 4px;
    border-radius: 4px;
    background-color: var(--green);
}

span.currentExperience {
    top: 12px;
    transform: translateX(-50%);
    position: absolute;
}